.price_option {
    position: relative;

}

.price_option li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 240px;
    height: max-content;
    margin-top: 5px;
    margin-left: 5px;
}

.price_option strong {
    font-size: 1.1em;
    white-space: nowrap;
}

.price_option>div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
    padding: 2px 5px;
}

.price_option li span {
    font-size: 1.2em;
    color: black;
    font-weight: 600;
}

.price_option li span:first-child {
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
}

.price_option li i {
    font-size: 0.8em;
    color: rgb(114, 114, 114);
}

.child_option li.active {
    border: 2px solid rgb(248, 0, 50);
}

.child_option li.active span:first-child {
    border-bottom: 1px solid rgb(248, 0, 50);
}

.dot {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: 2px solid #ccc;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 5px;
    position: relative;
}

.dot.active {
    border: 2px solid rgb(248, 0, 50);
}

.dot.active:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(248, 0, 50);
}

.option li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.contact_btn {
    position: absolute;
    bottom: -50px;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 14px;
    font-size: 1.4em;
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid rgb(248, 0, 50);
    cursor: pointer;
    background-color: rgb(248, 0, 50);
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
}

.contact_btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(248, 0, 50);
}

.popup {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    font-size: 14px;
    opacity: 0;
    transition: all 0.3s ease-in-out;

}

.popup.active {
    opacity: 1;
    z-index: 100;
}

.popup * {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.popup_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: rgb(255, 255, 255);
    width: calc(100% - 40px);
    max-width: 500px;
    margin: 0px auto;
    height: max-content;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.3s ease-in-out;
}

.popup_content.active {
    transform: translate(-50%, -50%);
}

.popup_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.popup_header h3 {
    font-size: 1.5em;
    font-weight: 600;
}

.popup_header span {
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
}

.popup_header span * {
    height: 1em;
    width: 1em;
}

.popup_body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form_group span {

    font-size: 0.8em;
    color: rgb(248, 0, 50);
    font-weight: 600;
}

.form_group label {
    font-size: 1.2em;
    font-weight: 600;
}

.form_group input, .form_group textarea {
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    outline: none;

}

.form_group input.error_input, .form_group textarea.error_input {
    border: 1px solid rgb(248, 0, 50);
}

.form_group input.error_input, .form_group textarea.error_input:focus {
    border: 1px solid rgb(248, 0, 50);
}

.form_group input.success_input, .form_group textarea.success_input {
    border: 1px solid green;
}



.form_group textarea {
    resize: none;
    height: 100px;
}

.submit_btn {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(248, 0, 50);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(248, 0, 50);

    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.submit_btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(248, 0, 50);
}

@media (max-width: 700px) {
    .price_option>div:first-child {
        padding: 5px 20px;
    }

    .option li {
        width: 100%;
        margin-left: 0px;
    }

    .contact_btn {
        margin-top: 20px;
        bottom: 0px;
        position: relative;
    }

    .child_option li {
        width: 100%;
    }
}